.home-internal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
*{
    padding: 0;
    margin: 0;
}
img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.home-left{
    background-color: hwb(34 16% 31%);
    width: 50%;
    height: 580px;
}
.right-img{
    
    width: 100%;
    height: 580px

}

.left-des-btn{
    text-align: center;
    align-items: center;
    margin-top: 140px;
}
.left-descrption{
    font-size: 67px;
    padding-bottom: 40px;
    color: white;
    font-weight: bold;
}

.nature{
    margin-right:-530px;
     overflow: hidden;
     z-index: 1;
     position: relative;
}
.detail-descrption{
    color: white;
}
.left-btn{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 17px;
}
.view{
    padding: 14px;
    width: 150px;
    border-radius: 10px;
    border-left-style: double;
}
.learn{
    padding: 14px;
    width: 150px;
    background-color:  hwb(34 16% 31%);
    color: white;

}
.learn:hover{
    background-color: white;
    color: #e20f0f;
    transition:  transform ease-in 0.5;
    transform: translateX(10px);
}
.view:hover{
     transform: translateX(10px);
     /* border-radius: 2px solid black; */

}